/*
Este CSS está dedicado para modificar los aspectos de una 'publicacion' y debe ser incluído solamente
cuando sea una de las categorías a indagar (JQuery, JavaScript).
*/

:root{
    --backtone : #f1f1f1;
    --hightone : #5086c1;
    --lowtone : #86b6f1 ;
    --altertone : #b3cef9;

    --backtoneblack: #151516;
    --midtoneblack: #18191A;
    --lowtoneblack: #242526;
    --lightoneblack: #5B5F64;
    --lightlightblack: #3A3B3C;
}

pre{
    font-size: medium;
    border-radius: 15px;
    padding: 15px;
    background-color: var(--lightlightblack);
    white-space: pre-wrap; 
}

iframe{
    border-radius: 15px;
}

.center{
    text-align: center;
}

.main--article{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.219);
    border-radius: 15px;
    margin: 15px;
    padding: 15px 5% 15px 5%;
}

.main--article > iframe{
    max-width: 100%;
    max-height: 100%;
}

.topimg--article{
    border-radius: 15px;
    object-fit:cover;
    object-position: center 40%;
    width: 100%;
    height: 230px;
}

.img--article{
    max-width: 35%;
    border-radius: 15px;
}

#article--comment{
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
    justify-content: space-around;
    align-items: center;
}


#article--author{
    display: flex;
    background-color: var(--lightlightblack);
    border-radius: 15px;
    margin-top: 15px;
    padding: 10px;
    gap: 15px;
    align-items: center;
}

#profile--author{
    border-radius: 50%;
    width: 96px;
    height: 96px;
}

#article--author > div > h4{
    color: #fff;
    margin: 0px;
}

#article--author > div > span{
    color: rgb(193, 234, 255);
    font-size: 16px;
}

#article--author > div > h4{
    font-size: 24px;
    width: 100%;
}

#article--sep{
    display: inline-block;
    content: "";
    background-color: var(--lightoneblack);
    width: 100%;
    height: 2px;
    margin-bottom: 10px;
    margin-top: 0;
}

#article--insertcent{
    display: flex;
    justify-content: center;
}

table{
    border-radius: 15px;
    background-color: var(--lightoneblack);
    border-spacing: 10px;
    border-collapse: collapse;
    width: 100%;
}

thead{
    background-color: #3A3B3C;
    border-bottom: 2px solid #18191A;
}

th,td{
    padding: 10px;
}

tr > td:last-child{
    border-radius: 0 15px 0 0;
}

tr > td:first-child{
    border-radius: 15px 0 0 0;
}

/*Aquí empieza el código propio*/

.intro{
    margin-right: 1%;
}

#high--title{
    font-size: 30px;
    margin: 5px;
}

@media screen and (max-width: 990px) {
    p, span{
    }

    .introduction > div > div > h2{
        word-wrap: break-word;
    }

    code{
        word-wrap: break-word;
    }

    .tabla--cont{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tabla--cont > a{
        width: 100%;
    }
    .tabla--cont > a > div{
        padding: 0;
    }

    th, td{
        font-size: 12px;
        word-wrap: break-word;
        padding: 5px;
    }

    #article--comment{
        flex-direction: column;
    }

    .main--article > h2{
        font-size: 25px;
    }

    .img--article{
        max-width: 80%;
    }
}

@media screen and (max-width: 450px) {
    .main--article{
        margin: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .item--aside > h3{
        font-size: 12px;
    }
}