#main--aside{
    display: none;
}

.introduction{
    display: flex;
    background-color: #5086c1;
    width: 90%;
    justify-content: center;
    margin-bottom: 0;
    height: 150px;
}

#cg--color{
    margin: 5px;
    color: #c1eaff;
}

#profile--author{
    width: 192px;
    height: 192px;
}

@media screen and (max-width: 990px) {

    #high--title{
        font-size: 20px;
    }

    #article--comment > div > p{
        font-size: 20px;
    }

    #article--author > div > span{
        word-break: break-all;
        font-size: 10px;
    }

    #article--author > div > h4{
        font-size: 15px;
    }

    #profile--author{
        width: 128px;
        height: 128px;
    }
}